{% extends "base.html" %}  

{% load static %} 

{% block content %} 


<div class="container">

    <div style="float:right ;">
    <p style="color: thistle;">Total: $  {{importe_total}}</p>
    
    {% include "carro/widget.html" %}
    
</div>

    <div class="row">

        {% for producto in productos %} 
        <div class="col-md-3" >
            <div class="card" style="width: 100%; margin: 5px 5px;" >
            
                <img src="{{producto.imagen.url}}" class="card-img-top" alt="producto" >
                
                <div class="card-body" style="text-align: center;">

                    <h5 class="card-title text-danger">{{producto.nombre}}</h5>
                    <h6 class="card-subtitle mb-2 ">$ &nbsp;{{producto.precio}}</h6>
                         
                    <div>
                        <span> <a href="#" class="card-link row text-center">+ Detalles</a></span>
                        <span><a href="#" class="card-link row text-center">+ Categoria {{producto.categoria}}</a></span>
                    </div> 
                    <div class="text-center">
                     <a href="#" class="btn btn-success m-2">Agregar</a>
                
                    </div>

                 </div>  

                 

            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}