{% extends "base.html" %}  

{% load static %} 

{% block content %} 

<div class="row">    
    <div class="col-md-9">        
        <div class="row row-cols-1 row-cols-md-3 g-4"> 
            {% for producto in productos %} 
            <div class="col">               
              <div class="card">
                <img src="{{producto.imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{producto.nombre}}</h5>
                  <p class="card-text">$ {{producto.precio}}</p>
                  <span> <a href="#" class="card-link row text-center">+ Detalles</a></span>
                  <span><a href="#" class="card-link row text-center">+ Categoria {{producto.categoria}}</a></span>
                </div>
                <div class="card-footer text-center">                 
                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success m-2">Agregar</a>
                </div>  
               </div>
             </div>
              {% endfor %}
            </div>           
    </div>

 <div class="col-2" style="float:right ; margin-top: 15px;">
   
            {% include "carro/widget.html" %}
        
        </div></div>
{% endblock %}