{% extends "base.html" %}  

{% load static %} 

{% block content %} 
<div class="container">

  {% for post in posts %} 
<div class="card m-3 border-2 border-info" style="width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{post.imagen.url}}" class=" rounded mt-5 m-lg-3" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{post.contenido}}</p>
        <p class="card-text"><small class="text-muted">{{post.updated}}</small></p>
      </div>
      <div class="footer ">
        
        <a href = "#" class="row ">{{post.categoria}}</a>
       
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div> 

{% endblock %}  