{% extends "base.html" %}  

{% load static %} 

{% block content %} 

<div class="container border border-2 border-info rounded mt-3 ">
  <div class="row ">
    <div class="col-6 p-3 m-5">
      <h1>Nuestra Empresa</h1>
      <p style="text-align: justify;">The standard Lorem Ipsum passage, used since the 1500s
        "Lorem ipsum dolor sit amet, consectetur aididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p >
       </div>
    <div  class="col-4 pl-5" style="display: flex; align-items: center;">
      <img src="{% static './webapp/img/principal.jpg' %}" style="width: 100%;">
    </div>
  </div>
</div>


{% endblock %}